spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/travelhelper_db
    username: travelhelper_user
    password: travelhelper_password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 20000
      idle-timeout: 300000
      max-lifetime: 600000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        default_schema: travelhelper_schema
        format_sql: true

